/*o último valor sempre se sobressai*/
/* seleciona todos os elementos da página.
*{
    margin: 0;
    margin: 1;
}
*/

@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-image: url("../img/fundo_sakura.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color:#f8db7a81;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    /*color: #496d9c, #ecec7e, #053177; */
    color: #D95F76;
}
/*
#frase-efeito{
    font-family: "My Soul", cursive;
    font-weight: 400;
    font-style: normal;
}
*/
header {
    background: linear-gradient(to right,#3C7322, #F29BAB);
    padding: 20px 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/*vai estilizar a imagem que está dentro do header*/
header img{
    margin: 15px 0px;
    width: 150px; /*Sempre que determinar um com px, deixe o outro com auto*/
    height: auto;  /*Pois ficará proporcional*/
}
#frase-efeito{
    color:#184d00;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 10px;
    /*Define as sombras do texto, Recebe quatro valores na seguinte ordem: 
    deslocamento horizontal | deslocamento vertical | desfoque/suavização da sombra | cor */
    text-shadow: 1px 1px 2px rgba(72, 255, 0, 0.9);
}
nav a{
    color: #ecec7e;
    font-family: "Fjalla One", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    padding: 5px 12px;
    margin: 0px 15px;
    flex-shrink: 1;
    flex-grow: 1;
}
nav a:hover{
    font-size: 16px;
    border-radius: 15px;
    background-color: #f79cad;
    color:#e2566f;
}
main{
    margin:20px;
    text-align: center;
}
h1{
    margin: 10px 0px;
    font-size: 40px;
    color: #e2566f;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
#frase-personagem{
    margin: 10px 0px;
    color:#156b0d;
    letter-spacing: 1px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.9);
}
.cast-container{
    display: flex;
    max-width: 900px;
    gap: 20px;
    flex-wrap: wrap;
    margin: 0 auto;
}
.cast-member{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
    border-radius: 15px;
    background-color: #7ABF6F ;
    box-shadow: 0px 0px 5px #df2d4e;
    border-radius: 15px;
}
.cast-member1{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    align-items: center;
    justify-content:space-evenly;
    padding: 20px;
    border-radius: 15px;
    background-color: #F29BAB;
    box-shadow: 0px 0px 5px #184d00;
    border-radius: 15px;
}
.cast-member img {
    border-radius: 5px;
    width: 300px;
    height: auto;
    padding: 5px 10px;
    margin: 3px 0px;
    font-weight: 500;
    transition: transform 0.2s ease;
}
.cast-member1 img{
    border-radius: 5px;
    width: 300px;
    height: auto;
    padding: 5px 10px;
    margin: 3px 0px;
    font-weight: 500;
    transition: transform 0.2s ease;
}
.cast-member img:hover{
    transform: scale(1.1);
}
.cast-member1 img:hover{
    transform: scale(1.1);
}
#vilao{
    width: 300px;
    height: 250px;
}
#paimulan{
    width: 320px;
    height: 320px;
}
.verde{
    color:#0e5500;
}
.rosa{
    color: #df2d4e;
}
.paragrafo-rosa{
    color: #f36a83;
    color:white;
}
.paragrafo-verde{
    color:#22bb0b;
    color:white;
}
#topo {
    margin-top: 20px;
}
#topo a{
    color: #9b0722;
    text-decoration: none;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
#topo a:hover{
    color:rgb(78, 154, 3);
    letter-spacing: 2px;
    background-color: #4d8800;
    border-radius: 15px;
    color: rgb(0, 0, 0);
}
small{
    color: rgb(255, 255, 255);
    margin: 10px;
}
footer{
    box-sizing: border-box;
    color: #156b0d;
    padding: 15px 0px;
    background: linear-gradient(to right,#F29BAB, #7ABF6F);
    background-color: #0e5500;
    text-align: center;
}
footer img{
    width: 24px;
    height: 24px;
    margin: 10px;
    /*define efeitos de trarnsição entre estado*/
    transition: transform 0.2s ease;
}
footer img:hover{
    /*Aumenta a logo*/
    transform: scale(1.3);
}